{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    
    <div class="card bg-light mb-12">
        <h1>RESUMEN EVALUACIÓN CATEGORIZACIONES</h1>
        
        <div class="card-body">
            
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Razón Social</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <button type="button" class="btn btn-primary my-3">Buscar</button>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Evaluador</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Categoria</label>
                        <input type="text" class="form-control" id="inputPassword5">
                    </div>     
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Estado</label>
                        <input type="text" class="form-control" id="inputPassword6">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Notificación</label>
                        <input type="text" class="form-control" id="inputPassword7">
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-primary">Ver hoja N°</button>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('Nueva-hoja') }}'">Nueva Hoja</button>
                    </div>
                    
                </div>
            </div>

            <table class="table table-striped">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Razón Social</th>
                        <th scope="col">Fecha Inicio Expediente</th>
                        <th scope="col">Evaluador</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>

                <tbody>
                    {% for resumen in resumenes %}
                        <tr>
                            <th scope="row">{{ resumen.categorizacion.razonSocial }}</th>
                            <td>{{ resumen.categorizacion.fechaInicioExp }}</td>
                            <td>{{ resumen.categorizacion.evaluador }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('ver-hoja', {'id' : resumen.id }) }}'">Ver</button>
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('modificar-hoja', {'id' : resumen.id }) }}'">Modificar</button>
                               {#<button type="button" class="btn btn-primary">Eliminar</button>#}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row" colspan="5">No se encontraron resultados.</th>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        
    </div>
{% endblock %}