{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    
    <div class="card bg-light mb-12">
        <h1>Creación de Checklist</h1>


        <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
           
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr': {'class': form_errors(form.nombre) ? 'form-control is-invalid' : 'form-control'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.nombre) }}
                            </div>
                        </div>
                    </div>
                    
                    <tbody>
                        {% for seccion in form.secciones %}
                           <li>{{ form_row(seccion.nombre) }}</li>
                        {% else %}
                        <tr>
                            <th scope="row" colspan="5">No se encontraron resultados.</th>
                        </tr>
                    {% endfor %}        
                    </tbody>
            
                    
                    <div class="form-row">
                        <div>
                            {#{{ form_widget(form.save) }}#}
                            <button type="button" class="btn btn-primary" onclick={{ form_widget(form.save) }}</button>
                        </div>
                        <div>&nbsp;</div>{# Espacio en blanco p/separar botones #}
                    </div>
                {{form_end(form)}}
        </div>
    </div>
{% endblock %}