{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) } }
    <div class="card bg-light mb-12">
        <div class="card-header">Secciones</div>  


        <div class="card-body">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(seccion.nombre) }}
                        {{ form_widget(seccion.nombre, {'attr': {'class': form_errors(seccion.nombre) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(seccion.nombre) }}
                        </div>
                </div>
            </form>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}